.csv-reader-input {
  margin: 60px 0;
}

.csv-label {
  margin: 0 auto 50px;
  width: 60%;
  font-size: 35px;
  text-align: center;
  display: block;
}

.csv-input {
  display: block;
  margin: 0 auto;
}
